[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
python-dotenv = "*"
chromadb = "*"
transformers = "*"
requests = "*"
langchain-chroma = "*"
schedule = "*"
langchain-community = "*"
chroma = "*"
evaluate = "*"
accelerate = ">=0.26.0"

[dev-packages]

[requires]
python_version = "3.13"
